services:
  meyer-pc-website:
    image: snooops/meyer-pc-website:{{ shorttag }}
    restart: unless-stopped
    labels:
      traefik.enable: true
      
      traefik.http.middlewares.wedding-https-redirect.redirectscheme.scheme: https
      
      traefik.http.routers.wedding.entrypoints: http
      traefik.http.routers.wedding.rule: Host(`meyer-pc.de`) || Host(`www.meyer-pc.de`)
      traefik.http.routers.wedding.middlewares: wedding-https-redirect
      

      traefik.http.routers.wedding-secure.entrypoints: https
      traefik.http.routers.wedding-secure.rule: Host(`meyer-pc.de`) || Host(`meyer-pc.de`)
      traefik.http.routers.wedding-secure.tls: true
      traefik.http.routers.wedding-secure.tls.certresolver: http
      traefik.http.routers.wedding-secure.service: wedding
      traefik.http.routers.wedding-secure.middlewares: secHeaders@file
      traefik.http.services.wedding.loadbalancer.server.port: 80
      traefik.docker.network: proxy
    networks:
      - proxy
    ports:
      - "3000:3000"

networks:
  proxy:
    external: true